In [ ]:
import pandas as pd

:

# Hosp

In [ ]:
diagnoses = pd.read_csv("/data/kunfeng/mimic-iv-3.1/hosp/diagnoses_icd.csv")
diagnoses

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[6364488 rows x 5 columns]

In [9]:
dict_diag = pd.read_csv("/data/kunfeng/mimic-iv-3.1/hosp/d_icd_diagnoses.csv")
dict_diag

,icd_code,icd_version,long_title
0,0010,9,Cholera due to vibrio cholerae
1,0011,9,Cholera due to vibrio cholerae el tor
2,0019,9,"Cholera, unspecified"
3,0020,9,Typhoid fever
4,0021,9,Paratyphoid fever A
...,...,...,...
112102,Z992,10,Dependence on renal dialysis
112103,Z993,10,Dependence on wheelchair
112104,Z998,10,Dependence on other enabling machines and devices
112105,Z9981,10,Dependence on supplemental oxygen
112106,Z9989,10,Dependence on other enabling machines and devices

In [6]:
admits = pd.read_csv("/data/kunfeng/mimic-iv-3.1/hosp/admissions.csv")
admits

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,English,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,English,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,English,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546023,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P13JMH,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,English,SINGLE,WHITE,2149-01-08 09:11:00,2149-01-08 18:12:00,0
546024,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P38XL8,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicaid,English,SINGLE,WHITE,2147-07-17 17:18:00,2147-07-18 17:34:00,0
546025,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P33612,EMERGENCY ROOM,DIED,Private,English,WIDOWED,WHITE,2164-09-10 11:09:00,2164-09-10 14:46:00,1
546026,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P036NA,EMERGENCY ROOM,HOME,Private,English,WIDOWED,WHITE,2164-07-24 21:16:00,2164-07-25 01:20:00,0
546027,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P95A45,EMERGENCY ROOM,REHAB,Medicaid,English,NaN,UNKNOWN,2145-11-02 19:28:00,2145-11-02 22:59:00,0

In [11]:
patients = pd.read_csv("/data/kunfeng/mimic-iv-3.1/hosp/patients.csv")
patients

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000048,F,23,2126,2008 - 2010,NaN
2,10000058,F,33,2168,2020 - 2022,NaN
3,10000068,F,19,2160,2008 - 2010,NaN
4,10000084,M,72,2160,2017 - 2019,2161-02-13
...,...,...,...,...,...,...
364622,19999828,F,46,2147,2017 - 2019,NaN
364623,19999829,F,28,2186,2008 - 2010,NaN
364624,19999840,M,58,2164,2008 - 2010,2164-09-17
364625,19999914,F,49,2158,2017 - 2019,NaN
364626,19999987,F,57,2145,2011 - 2013,NaN

In [17]:
poe = pd.read_csv("/data/kunfeng/mimic-iv-3.1/hosp/poe.csv")
poe

,poe_id,poe_seq,subject_id,hadm_id,ordertime,order_type,order_subtype,transaction_type,discontinue_of_poe_id,discontinued_by_poe_id,order_provider_id,order_status
0,10000032-100,100,10000032,22841357,2180-06-26 22:09:02,Medications,NaN,New,NaN,NaN,P992IN,Inactive
1,10000032-101,101,10000032,22841357,2180-06-26 22:09:02,General Care,Code status,New,NaN,NaN,P992IN,Inactive
2,10000032-102,102,10000032,22841357,2180-06-26 22:09:02,Nutrition,Nutrition consult,New,NaN,NaN,P992IN,Inactive
3,10000032-103,103,10000032,22841357,2180-06-26 22:09:02,Blood Bank,Blood tests,New,NaN,NaN,P992IN,Inactive
4,10000032-104,104,10000032,22841357,2180-06-26 22:09:02,Lab,NaN,New,NaN,NaN,P992IN,Inactive
...,...,...,...,...,...,...,...,...,...,...,...,...
52212104,19999987-83,83,19999987,23865745,2145-11-04 08:39:45,Medications,NaN,New,NaN,19999987-85,P70GUP,Inactive
52212105,19999987-84,84,19999987,23865745,2145-11-04 09:00:39,Lab,NaN,New,NaN,NaN,P64PK9,Inactive
52212106,19999987-85,85,19999987,23865745,2145-11-04 09:00:39,Medications,NaN,D/C,19999987-83,NaN,P64PK9,Inactive
52212107,19999987-86,86,19999987,23865745,2145-11-04 09:00:39,Medications,NaN,New,NaN,19999987-117,P64PK9,Inactive
52212108,19999987-87,87,19999987,23865745,2145-11-04 09:45:20,General Care,Other,New,NaN,NaN,P64PK9,Inactive

In [18]:
labevents = pd.read_csv("/data/kunfeng/mimic-iv-3.1/hosp/labevents.csv")
labevents

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,2704548,50931,P69FQC,2180-03-23 11:51:00,2180-03-23 15:56:00,___,95.00,mg/dL,70.0,100.0,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
1,2,10000032,NaN,36092842,51071,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
2,3,10000032,NaN,36092842,51074,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
3,4,10000032,NaN,36092842,51075,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
4,5,10000032,NaN,36092842,51079,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158374759,159057534,19999987,23865745.0,59879875,51279,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,3.52,3.52,m/uL,4.2,5.4,abnormal,ROUTINE,NaN
158374760,159057535,19999987,23865745.0,59879875,51301,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,5.7,5.70,K/uL,4.0,11.0,NaN,ROUTINE,NaN
158374761,159057536,19999987,NaN,74914384,50912,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,1.1,1.10,mg/dL,0.4,1.1,NaN,ROUTINE,NaN
158374762,159057537,19999987,NaN,74914384,50920,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,NaN,NaN,NaN,NaN,NaN,NaN,ROUTINE,"Using this patient's age, gender, and serum cr..."
158374763,159057538,19999987,NaN,74914384,51006,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,14,14.00,mg/dL,6.0,20.0,NaN,ROUTINE,NaN

# Note

In [12]:
discharge = pd.read_csv("/data/kunfeng/physionet.org/files/mimic-iv-note/2.2/note/discharge.csv")
discharge

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...
...,...,...,...,...,...,...,...,...
331788,19999828-DS-6,19999828,29734428,DS,6,2147-08-04 00:00:00,2147-08-12 15:36:00,\nName: ___ Unit No: ___...
331789,19999828-DS-7,19999828,25744818,DS,7,2149-01-18 00:00:00,2149-01-19 07:03:00,\nName: ___ Unit No: ___...
331790,19999840-DS-20,19999840,26071774,DS,20,2164-07-28 00:00:00,2164-07-29 14:52:00,\nName: ___ Unit No: ___\...
331791,19999840-DS-21,19999840,21033226,DS,21,2164-09-17 00:00:00,2164-09-18 01:36:00,\nName: ___ Unit No: ___\...
331792,19999987-DS-2,19999987,23865745,DS,2,2145-11-11 00:00:00,2145-11-11 13:13:00,\nName: ___ Unit No: __...

In [15]:
discharge_detail = pd.read_csv("/data/kunfeng/physionet.org/files/mimic-iv-note/2.2/note/discharge_detail.csv")
discharge_detail

               note_id  subject_id field_name field_value  field_ordinal
0       10000032-DS-21    10000032     author         ___              1
1       10000032-DS-22    10000032     author         ___              1
2       10000032-DS-23    10000032     author         ___              1
3       10000032-DS-24    10000032     author         ___              1
4       10000084-DS-17    10000084     author         ___              1
...                ...         ...        ...         ...            ...
186133  15614172-DS-13    15614172     author         ___              1
186134  15614172-DS-14    15614172     author         ___              1
186135  15614172-DS-15    15614172     author         ___              1
186136  15614172-DS-16    15614172     author         ___              1
186137  15614172-DS-17    15614172     author         ___              1

[186138 rows x 5 columns]

In [13]:
radiology = pd.read_csv("/data/kunfeng/physionet.org/files/mimic-iv-note/2.2/note/radiology.csv")
radiology

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-RR-14,10000032,22595853.0,RR,14,2180-05-06 21:19:00,2180-05-06 23:32:00,EXAMINATION: CHEST (PA AND LAT)\n\nINDICATION...
1,10000032-RR-15,10000032,22595853.0,RR,15,2180-05-06 23:00:00,2180-05-06 23:26:00,EXAMINATION: LIVER OR GALLBLADDER US (SINGLE ...
2,10000032-RR-16,10000032,22595853.0,RR,16,2180-05-07 09:55:00,2180-05-07 11:15:00,"INDICATION: ___ HCV cirrhosis c/b ascites, hi..."
3,10000032-RR-18,10000032,NaN,RR,18,2180-06-03 12:46:00,2180-06-03 14:01:00,EXAMINATION: Ultrasound-guided paracentesis.\...
4,10000032-RR-20,10000032,NaN,RR,20,2180-07-08 13:18:00,2180-07-08 14:15:00,EXAMINATION: Paracentesis\n\nINDICATION: ___...
...,...,...,...,...,...,...,...,...
2321350,19999987-RR-17,19999987,23865745.0,RR,17,2145-11-02 22:37:00,2145-11-03 18:55:00,"HISTORY: ___, with left occipital bleeding. ..."
2321351,19999987-RR-18,19999987,23865745.0,RR,18,2145-11-03 04:35:00,2145-11-03 10:46:00,INDICATION: ___ female intubated for head ble...
2321352,19999987-RR-19,19999987,23865745.0,RR,19,2145-11-03 16:40:00,2145-11-04 08:36:00,HISTORY: ___ woman with left occipital hemorr...
2321353,19999987-RR-20,19999987,23865745.0,RR,20,2145-11-04 05:10:00,2145-11-04 08:58:00,PORTABLE CHEST OF ___\n\nCOMPARISON: ___ radi...
2321354,19999987-RR-21,19999987,23865745.0,RR,21,2145-11-07 15:18:00,2145-11-08 16:44:00,DATE OF SERVICE: ___.\n\nPRE-OPERATIVE DIAGNO...

In [ ]:
radiology_detail = pd.read_csv("/data/kunfeng/physionet.org/files/mimic-iv-note/2.2/note/radiology_detail.csv")
radiology_detail

,note_id,subject_id,field_name,field_value,field_ordinal
0,10000032-RR-14,10000032,exam_code,C11,1
1,10000032-RR-14,10000032,exam_name,CHEST (PA & LAT),1
2,10000032-RR-15,10000032,exam_code,U314,1
3,10000032-RR-15,10000032,exam_code,U644,3
4,10000032-RR-15,10000032,exam_code,W82,2
...,...,...,...,...,...
6046116,19999987-RR-21,19999987,exam_name,PLACE CATH CAROTID ART,1
6046117,19999987-RR-21,19999987,exam_name,PLACE CATH CAROTID ART,2
6046118,19999987-RR-21,19999987,exam_name,PLACE CATH VERTEBRAL ART,7
6046119,19999987-RR-21,19999987,exam_name,PLACE CATH XTRNL CAROTID,4
6046120,19999987-RR-21,19999987,exam_name,PLACE CATH XTRNL CAROTID,5